/* CSS VARIABLES */
:root {
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  --Light-grayish-blue: hsl(240, 5%, 91%);
}

/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS GENERAL */
body {
  font-family: "Kumbh Sans", sans-serif;
  background: rgb(101, 101, 231);
  background: linear-gradient(
    0deg,
    rgba(101, 101, 231, 1) 0%,
    rgba(175, 103, 233, 1) 100%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 70%;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  display: flex;
}

.left-side {
  position: relative;
  background-image: url("./images/bg-pattern-desktop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

.main-img {
  position: relative;
}

.mobile-illustrator {
  display: none;
}

.box {
  position: absolute;
  top: 35%;
  left: -15%;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  width: 100%;
}

.main-heading {
  font-weight: 700;
  font-size: 2rem;
  color: var(--Very-dark-desaturated-blue);
  margin-bottom: 50px;
}

.accordion-header {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--Light-grayish-blue);
  display: flex;
  justify-content: space-between;
  color: var(--Dark-grayish-blue);
  font-size: 0.9rem;
}

.accordion-header.active {
  font-weight: 700;
}

.accordion-header.active img {
  transform: rotate(180deg);
  transition: all 300ms ease;
}

.accordion-header:hover {
  color: var(--Soft-red);
  cursor: pointer;
}

.accordion-body {
  color: var(--Dark-grayish-blue);
  font-size: 0.8rem;
  line-height: 1.5;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}

.accordion-body.active {
  max-height: 10rem;
  padding: 1rem 0;
}

/* Media Queries */
@media (max-width: 1100px) {
  .main-container {
    width: 90%;
  }
  .main-img {
    width: 400px;
  }
}

@media (max-width: 900px) {
  .main-img {
    width: 300px;
  }

  .box {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .main-container {
    flex-direction: column;
    min-height: 600px;
  }

  .left-side {
    height: 30%;
  }

  .box {
    display: none;
  }

  .main-img {
    display: none;
  }

  .mobile-illustrator {
    display: block;
    width: 200%;
    height: 200px;
    position: relative;
    top: -50px;
  }

  .right-side {
    width: 300px;
    margin: auto;
  }

  .main-heading {
    text-align: center;
    margin-bottom: 20px;
  }
}
